name: Compilation Check

on: [pull_request]

jobs:
  compile:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: read

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v6
        with:
          go-version: ">=1.25.0"
      - name: Build
        run: go build -v .
